@model INI.Models.DataBase.tblHojaVida

@{
    Layout = "~/Views/Shared/_InvCuenta.cshtml";
    ViewBag.Title = "Formacion Y Experiencia";
}

<div class="verticalSpan2"></div>

<div class="fondohojavida">
    <table style="background-color:transparent; margin:auto;">
        <tr>
            <td width="80%" align="left">
                <div class="tableroHojaVida">
                    @Html.Partial("~/Views/Shared/_FormacionYExperiencia.cshtml", Model)
                </div>
            </td>
            <td width="20%" align="left">
                <img src="~/images/MAI/HojaVida/personajeHojaVida.png" height="150" />
            </td>
        </tr>
        <tr><td><center>@Html.AtrasInvestic()</center></td></tr>
    </table>
</div>

@section scripts{
    <link href="~/Content/Investic/MAI/mai_Site_HojaVida.css" rel="stylesheet" />
    <script src="~/Scripts/DataTables-1.10.4/jquery.dataTables.js"></script>
    <script src="~/Scripts/Investic/mai_TablasHojaVida.js"></script>
    <script src="~/Scripts/Investic/mai_BorrarRegistrosHojaVida.js"></script>    
}
