<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>http://investic.udenar.edu.co</MSDeployServiceURL>
    <DeployIisAppPath>ini</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>RemoteAgent</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>administrador</UserName>
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="chamiloEntities" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="INI.Models.DataBase.chamiloEntities, INI" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="INI.Models.ApplicationDbContext" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="INI.Models.ApplicationDbContext, INI" Origin="" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="investicEntities" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="INI.Models.DataBase.investicEntities, INI" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="IEPinvesticEntities" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=investic.udenar.edu.co;Initial Catalog=investic;Persist Security Info=True;User ID=usupla;Password=prog*2014;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\IEPinvesticEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.DataBase.InvesticIEP.csdl|res://*/Models.DataBase.InvesticIEP.ssdl|res://*/Models.DataBase.InvesticIEP.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=investic.udenar.edu.co;initial catalog=investic;persist security info=True;user id=usupla;password=prog*2014;multipleactiveresultsets=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=investic.udenar.edu.co;Initial Catalog=investic;Persist Security Info=True;User ID=usupla;Password=prog*2014" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=investic.udenar.edu.co;Initial Catalog=investic;Persist Security Info=True;User Id=usupla;password=&quot;prog*2014&quot;;MultipleActiveResultSets=True;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)chamiloEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)INI.Models.ApplicationDbContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)investicEntities-Web.config Connection String" />
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="INI.Models.ApplicationDbContext" />
  </ItemGroup>
</Project>