@model IEnumerable<INI.Models.DataBase.tblNoticias>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_InvEditor.cshtml";
}


                      <div class="divMetas">
                          <p>
                              </p><h2><br></h2>
                          <p></p>
                          <br>
                          <p>
                              </p><h3>
                                  <a href="/Noticias/Create">Nueva Noticia</a>
                              </h3>
                          <p></p>
                          
                          <div id="Tabla_wrapper" class="dataTables_wrapper no-footer"><div class="dataTables_length" id="Tabla_length"><label>Mostrar <select name="Tabla_length" aria-controls="Tabla" class=""><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> registros</label></div><div id="Tabla_filter" class="dataTables_filter"><label>Buscar:<input type="search" class="" placeholder="" aria-controls="Tabla"></label></div><table id="Tabla" class="table striped hover dataTable no-footer" style="width:95%" role="grid" aria-describedby="Tabla_info">
                              <thead>
                                  <tr role="row"><th width="8%" class="sorting_asc" tabindex="0" aria-controls="Tabla" rowspan="1" colspan="1" aria-sort="ascending" aria-label="
                                          Fecha
                                      : Activar para ordenar la columna de manera descendente" style="width: 47px;">
                                          Fecha
                                      </th><th width="20%" class="sorting" tabindex="0" aria-controls="Tabla" rowspan="1" colspan="1" aria-label="
                                          Titular
                                      : Activar para ordenar la columna de manera ascendente" style="width: 142px;">
                                          Titular
                                      </th><th width="30%" class="sorting" tabindex="0" aria-controls="Tabla" rowspan="1" colspan="1" aria-label="
                                          Descripción
                                      : Activar para ordenar la columna de manera ascendente" style="width: 221px;">
                                          Descripción
                                      </th><th width="10%" class="sorting" tabindex="0" aria-controls="Tabla" rowspan="1" colspan="1" aria-label="
                                          Autor
                                      : Activar para ordenar la columna de manera ascendente" style="width: 122px;">
                                          Autor
                                      </th><th width="10%" class="sorting" tabindex="0" aria-controls="Tabla" rowspan="1" colspan="1" aria-label="
                                          Está Activo
                                      : Activar para ordenar la columna de manera ascendente" style="width: 63px;">
                                          Está Activo
                                      </th><th class="sorting" tabindex="0" aria-controls="Tabla" rowspan="1" colspan="1" aria-label=": Activar para ordenar la columna de manera ascendente" style="width: 99px;"></th></tr>
                            </thead>
                              <tbody class="">
                                      
                                      
                                      
                                      
                                      
                                      
                                      
                                      
                                      
                                      
                                      
                                      
                                      
                                      
                                      
                                      
                                      
                                      
                                      
                                      
                                      
                                      
                                      
                                      
                                      
                                      
                                      
                                      
                                      
                                      
                                      
                                      
                                      
                                      
                                      
                                      
                                      
                                      
                                      
                                      
                                      
                                      
                                      
                                      
                                      
                                      
                                      
                                      
                                      
                                      
                                      
                                      
                                      
                                      
                                      
                                      
                                      
                                      
                                      
                                      
                                      
                                      
                                      
                                      
                                      
                                      
                                      
                                      
                                      
                                      
                                      
                                      
                                      
                                      
                                      
                                  <tr role="row" class="odd">
                                          <td align="center" class="sorting_1">

                                              <label for="">1-8-2015</label>
                                          </td>
                                          <td>
                                              TERMINOS CONVOCATORIA GRUPOS DE INVESTIGACION RECONOCIDOS POR COLCIENCIAS
                                          </td>
                                          <td>
                                              Requisitos
                                          </td>
                                          <td align="center">
                                              Alina Silva
                                          </td>
                                          <td align="center">
                                              
                                              
<input checked="checked" class="check-box" disabled="disabled" type="checkbox">                                              
                                          </td>
                                          <td>
                                              <a href="/Noticias/Edit/8014">Editar</a> |
                                              <a href="/Noticias/Details/8014">Ver</a> |
                                              <a href="/Noticias/Delete/8014">Borrar</a>
                                          </td>
                                      </tr><tr role="row" class="even">
                                          <td align="center" class="sorting_1">

                                              <label for="">10-9-2015</label>
                                          </td>
                                          <td>
                                              TALLER DE ANALISIS EN INVESTIGACION CUALITATIVA
                                          </td>
                                          <td>
                                              Para maestros Investic 
                                          </td>
                                          <td align="center">
                                              Alina Silva
                                          </td>
                                          <td align="center">
                                              
                                              
<input checked="checked" class="check-box" disabled="disabled" type="checkbox">                                              
                                          </td>
                                          <td>
                                              <a href="/Noticias/Edit/9032">Editar</a> |
                                              <a href="/Noticias/Details/9032">Ver</a> |
                                              <a href="/Noticias/Delete/9032">Borrar</a>
                                          </td>
                                      </tr><tr role="row" class="odd">
                                          <td align="center" class="sorting_1">

                                              <label for="">11-11-2015</label>
                                          </td>
                                          <td>
                                              TUTORES CONTINUAN CON CURSOS TIC 
                                          </td>
                                          <td>
                                              APREDER LAS TIC EN FAMILIA Y EN EL AULA 
                                          </td>
                                          <td align="center">
                                              Alina Silva
                                          </td>
                                          <td align="center">
                                              
                                              
<input checked="checked" class="check-box" disabled="disabled" type="checkbox">                                              
                                          </td>
                                          <td>
                                              <a href="/Noticias/Edit/13033">Editar</a> |
                                              <a href="/Noticias/Details/13033">Ver</a> |
                                              <a href="/Noticias/Delete/13033">Borrar</a>
                                          </td>
                                      </tr><tr role="row" class="even">
                                          <td align="center" class="sorting_1">

                                              <label for="">11-11-2015</label>
                                          </td>
                                          <td>
                                              NUEVO PLAZO INFORME RECURSOS INVESTIC 
                                          </td>
                                          <td>
                                              FECHA ESTABLECIDA COMO LIMITE
                                          </td>
                                          <td align="center">
                                              Alina Silva
                                          </td>
                                          <td align="center">
                                              
                                              
<input checked="checked" class="check-box" disabled="disabled" type="checkbox">                                              
                                          </td>
                                          <td>
                                              <a href="/Noticias/Edit/13034">Editar</a> |
                                              <a href="/Noticias/Details/13034">Ver</a> |
                                              <a href="/Noticias/Delete/13034">Borrar</a>
                                          </td>
                                      </tr><tr role="row" class="odd">
                                          <td align="center" class="sorting_1">

                                              <label for="">11-7-2015</label>
                                          </td>
                                          <td>
                                              INVESTIC inicia la entrega de computadores 
                                          </td>
                                          <td>
                                              sedes educativas se benefician de computadores
                                          </td>
                                          <td align="center">
                                              Comunicaciones 
                                          </td>
                                          <td align="center">
                                              
                                              
<input checked="checked" class="check-box" disabled="disabled" type="checkbox">                                              
                                          </td>
                                          <td>
                                              <a href="/Noticias/Edit/6013">Editar</a> |
                                              <a href="/Noticias/Details/6013">Ver</a> |
                                              <a href="/Noticias/Delete/6013">Borrar</a>
                                          </td>
                                      </tr><tr role="row" class="even">
                                          <td align="center" class="sorting_1">

                                              <label for="">12-11-2015</label>
                                          </td>
                                          <td>
                                              DE NARIÑO AL RESTO DEL PAÍS
                                          </td>
                                          <td>
                                              Reconocimiento Plataforma Investic 
                                          </td>
                                          <td align="center">
                                              Alina Silva
                                          </td>
                                          <td align="center">
                                              
                                              
<input checked="checked" class="check-box" disabled="disabled" type="checkbox">                                              
                                          </td>
                                          <td>
                                              <a href="/Noticias/Edit/14032">Editar</a> |
                                              <a href="/Noticias/Details/14032">Ver</a> |
                                              <a href="/Noticias/Delete/14032">Borrar</a>
                                          </td>
                                      </tr><tr role="row" class="odd">
                                          <td align="center" class="sorting_1">

                                              <label for="">12-4-2015</label>
                                          </td>
                                          <td>
                                              No es necesario saber tablas de multiplicar para aprender matemáticas
                                          </td>
                                          <td>
                                              Docente impulsa investigadores de matemáticas.
                                          </td>
                                          <td align="center">
                                              Alina C. Silva 
                                          </td>
                                          <td align="center">
                                              
                                              
<input checked="checked" class="check-box" disabled="disabled" type="checkbox">                                              
                                          </td>
                                          <td>
                                              <a href="/Noticias/Edit/18">Editar</a> |
                                              <a href="/Noticias/Details/18">Ver</a> |
                                              <a href="/Noticias/Delete/18">Borrar</a>
                                          </td>
                                      </tr><tr role="row" class="even">
                                          <td align="center" class="sorting_1">

                                              <label for="">12-4-2015</label>
                                          </td>
                                          <td>
                                              Una nueva forma de enseñar con tecnología
                                          </td>
                                          <td>
                                              Docentes del Centro Educativo el Guabo implementan la tecnologia en sus cursos
                                          </td>
                                          <td align="center">
                                              Alina C. Silva 
                                          </td>
                                          <td align="center">
                                              
                                              
<input checked="checked" class="check-box" disabled="disabled" type="checkbox">                                              
                                          </td>
                                          <td>
                                              <a href="/Noticias/Edit/19">Editar</a> |
                                              <a href="/Noticias/Details/19">Ver</a> |
                                              <a href="/Noticias/Delete/19">Borrar</a>
                                          </td>
                                      </tr><tr role="row" class="odd">
                                          <td align="center" class="sorting_1">

                                              <label for="">12-4-2015</label>
                                          </td>
                                          <td>
                                              Tenia temor a los computadores
                                          </td>
                                          <td>
                                              Docente del C.E. El Guabo cuenta su experiencia con las TIC
                                          </td>
                                          <td align="center">
                                              Alina C. Silva 
                                          </td>
                                          <td align="center">
                                              
                                              
<input checked="checked" class="check-box" disabled="disabled" type="checkbox">                                              
                                          </td>
                                          <td>
                                              <a href="/Noticias/Edit/20">Editar</a> |
                                              <a href="/Noticias/Details/20">Ver</a> |
                                              <a href="/Noticias/Delete/20">Borrar</a>
                                          </td>
                                      </tr><tr role="row" class="even">
                                          <td align="center" class="sorting_1">

                                              <label for="">12-4-2015</label>
                                          </td>
                                          <td>
                                              Nuevo futuro con las TIC
                                          </td>
                                          <td>
                                              Blog Centro Educativo El Bermejal
                                          </td>
                                          <td align="center">
                                              Alina C. Silva 
                                          </td>
                                          <td align="center">
                                              
                                              
<input checked="checked" class="check-box" disabled="disabled" type="checkbox">                                              
                                          </td>
                                          <td>
                                              <a href="/Noticias/Edit/21">Editar</a> |
                                              <a href="/Noticias/Details/21">Ver</a> |
                                              <a href="/Noticias/Delete/21">Borrar</a>
                                          </td>
                                      </tr></tbody>
</table><div class="dataTables_info" id="Tabla_info" role="status" aria-live="polite">Mostrando registros del 1 al 10 de un total de 75 registros</div><div class="dataTables_paginate paging_full_numbers" id="Tabla_paginate"><a class="paginate_button first disabled" aria-controls="Tabla" data-dt-idx="0" tabindex="0" id="Tabla_first">Primero</a><a class="paginate_button previous disabled" aria-controls="Tabla" data-dt-idx="1" tabindex="0" id="Tabla_previous">Anterior</a><span><a class="paginate_button current" aria-controls="Tabla" data-dt-idx="2" tabindex="0">1</a><a class="paginate_button " aria-controls="Tabla" data-dt-idx="3" tabindex="0">2</a><a class="paginate_button " aria-controls="Tabla" data-dt-idx="4" tabindex="0">3</a><a class="paginate_button " aria-controls="Tabla" data-dt-idx="5" tabindex="0">4</a><a class="paginate_button " aria-controls="Tabla" data-dt-idx="6" tabindex="0">5</a><span>…</span><a class="paginate_button " aria-controls="Tabla" data-dt-idx="7" tabindex="0">8</a></span><a class="paginate_button next" aria-controls="Tabla" data-dt-idx="8" tabindex="0" id="Tabla_next">Siguiente</a><a class="paginate_button last" aria-controls="Tabla" data-dt-idx="9" tabindex="0" id="Tabla_last">Último</a></div></div>

</div>
    @section Scripts{
                      <script src="~/Scripts/DataTables-1.10.4/jquery.dataTables.js"></script>
                      <script>
                          $(function () {
                              $('#Tabla').dataTable({
                                  "sPaginationType": "full_numbers",
                                  "oLanguage": {
                                      "sUrl": "../../Lang/es-CO.txt"
                                  }
                              });

                          });
                         
                      </script>
    }
                      
                    

