@{
    ViewBag.Title = "Olvido confirmar su cuenta";
}
<br /><br /><br /><br /><br />
<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Por favor verifique la cuenta para recordar su contraseña.
    </p>
</div>

