@model INI.Models.RegisterViewModel
@using MvcSiteMapProvider.Web.Html;
@{
    ViewBag.Title = "Off Line";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int id = ViewBag.Id;
}

<div id="bgDiv">
    <table style="background-color:transparent;margin:auto ;">
        <tr>
            <td width="20%" align="left">
                <img style="padding-top:60px;" src="~/images/personajes/Papa.svg" />
            </td>
            <td width="80%" align="left">
                <div id="divFondoFormulario" class="fondomapasitio">
                    <div class=" grid fluid">

                        <input type="hidden" id="id" value="@id"/>
                        <div class="row">
                            <span id="divTitulo" style="font-family:Chewy;color:#FF1643;font-size:16pt;">
                                @ViewBag.Title <br />
                                <input type="button" id="offLinesId" value="Generar Archivo!" class="button large" />
                                
                            </span>
                            <div id="d_rta" class="alert alert-success" ></div>
                            
                        </div>


                    </div>

                </div>
            </td>
        </tr>
    </table>
    @Html.AtrasInvestic()
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")


<script type="text/jscript">
    
    $('#offLinesId').click(function () {
        var id = $("#id").val();
        var url = "/Usuario/OffLineMetodo/" + id;
        //console.log("id:" + id);
        $.get(url, function (data)
        {
            $("#d_rta").html(data.rta);
            $("#d_rta").show();
        });
     })
</script>



}