@{
    ViewBag.Title = "Confirmación cambio de contraseña";
}
<br /><br /><br /><br /><br />
<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Su contraseña ha sido modificada. Por favor @Html.ActionLink("click aquí para iniciar sesión", "IniciarSesion", "Usuario", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
