@using INI.Models.DataBase;
@{
    Layout = "~/Views/Shared/_InvSeguimiento.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>

       
  

    </div>
</body>
</html>

@section Scripts {
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-ui.min-1.11.1.js"></script>
    <script src="~/Scripts/metro-ui/metro.min.js"></script>
    @Styles.Render("~/Content/csswizard")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/wizard")

    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery.validate.date.js"></script>

}




