@model INI.Models.DataBase.tblEjeInvestigacion

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_InvEditor.cshtml";
}

<h2>Detalle</h2>

<div>
    <br /><br /><br />
    <h4>Ejes de Investigación</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ejeInv_nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ejeInv_nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.tblEjeInvestigacion_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
