
@{
    ViewBag.Title = "Alternativas";
    Layout = "~/Views/Shared/_InvConocenos.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/Content/Site.css" media="all" />
<link rel="stylesheet" type="text/css" href="~/Content/Invstyles/Indexbotones.css" media="all" />
<link rel="stylesheet" type="text/css" href="~/Content/Investic/Site.css" />

<div id="alternativas" style="position: fixed; top: 20%; left: 10%; width: 100%; height: 100%;">

    <div onmouseover="javascript:valt(1);" style="margin:0; float: left;position:relative;cursor:pointer;" class="alt1"><img id="alter1" src="~/images/alternativas/Btn_alternativa1.png" /></div>
    <div onmouseover="javascript:valt(2);" style="margin:0; float: left;position:relative;cursor:pointer;" class="alt2"><img id="alter2" src="~/images/alternativas/Btn_alternativa2.png" /></div>
    <div onmouseover="javascript:valt(3);" style="margin:0; float: left;position:relative;cursor:pointer;" class="alt3"><img id="alter3" src="~/images/alternativas/Btn_alternativa3.png" /></div>
    <div onmouseover="javascript:valt(4);" style="margin:0; float: left;position:relative;cursor:pointer;" class="alt4"><img id="alter4" src="~/images/alternativas/Btn_alternativa4.png" /></div>
    <div onmouseover="javascript:valt(5);" style="margin:0; float: left;position:relative;cursor:pointer;" class="alt5"><img id="alter5" src="~/images/alternativas/Btn_alternativa5.png" /></div>
    <div onmouseover="javascript:valt(6);" style="margin:0; float: left;position:relative;cursor:pointer;" class="alt6"><img id="alter6" src="~/images/alternativas/Btn_alternativa6.png" /></div>
    <div onmouseover="javascript:valt(7);" style="margin:0; float: left;position:relative;cursor:pointer;" class="alt7"><img id="alter7" src="~/images/alternativas/Btn_alternativa7.png" /></div>
    <div onmouseover="javascript:valt(8);" style="margin:0; float: left;position:relative;cursor:pointer;" class="alt8"><img id="alter8" src="~/images/alternativas/Btn_alternativa8.png" /></div>
    @*<img src="~/images/menu.png" style="margin:0; float:right;" />*@

    <div id="viewalternativas" style="position: absolute;width:500px;top:40%;left:20%;margin-top:-140px;padding:5px; ">

    </div>

    <div id="viewalternativas" style="position: absolute;width:600px;top:40%;left:20%;margin-top:230px;padding:5px; ">
        <center>@Html.AtrasInvestic()</center>
    </div>

    
    
</div>

