
@{
    ViewBag.Title = "Buscar Proyectos";
}

<div class="verticalSpan2"></div>

<div class="grid fluid text-center">
    <div class="row" style="font-family:Chewy; color:#FF1643; font-size:26pt;">Docentes Investigando</div>
    <div class="row" style="font-family:Roboto; color:darkred; font-size:16pt;">
        Aquí puedes consultar los proyectos de Investigación realizados<br />
        o los grupos de Investigación del departamento.
    </div>

    <table style="background-color:transparent; margin:auto;">
        <tr>

        </tr>
    </table>
</div>

