@{
    ViewBag.Title = "Chat";
}
<div class="grid">
    <div class="row">
        <div id="divContainer" class="span12">
            @*<div id="divLogin" class="login">
                    <div>
                        Nombre:<br />
                        <input id="txtNickName" type="text" class="textBox" />
                    </div>
                    <div id="divButton">
                        <input id="btnStartChat" type="button" class="submitButton" value="Start Chat" />
                    </div>
                </div>*@

            <div id="divChat" class="chatRoom">
                <div class="title">
                    @Html.Label("Bienvenid@ ", new { style = "width:20px;display: inline;" }) <span id='spanUser'></span>

                </div>
                <div class="content">
                    <div id="Default" class="chatWindow">
                        <div id="divChatWindow">
                        </div>
                    </div>
                    <div id="DefaultUsers" class="users">
                        <div id="divusers">
                        </div>
                    </div>

                </div>
                <div class="messageBar">
                    <input class="textbox" type="text" id="txtMessage" />
                    <input id="btnSendMsg" type="button" value="Enviar" class="submitButton" />
                </div>
            </div>
            <br />
            <center> @Html.AtrasInvestic()</center>
            <input id="hdId" type="hidden" />
            <input id="hdUserName" type="hidden" />
        </div>
    </div>
</div>
@section Scripts {
    <link href="~/Content/ChatStyle.css" rel="stylesheet" />
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />
    <link href="~/Content/perfect-scrollbar.min.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-ui-1.11.3.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script src="~/Scripts/perfect-scrollbar.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script type="text/javascript">

        $(function () {
            
            $('#Default').perfectScrollbar();
            $('#DefaultUsers').perfectScrollbar();
            //setScreen(false);

            // Declare a proxy to reference the hub.
            var chatHub = $.connection.chatHub;

            registerClientMethods(chatHub);

            // Start Hub
            $.connection.hub.start().done(function () {
                var name ='@ViewBag.Name';
                chatHub.server.connect(name);
                registerEvents(chatHub);

            });


        });

        //function setScreen(isLogin) {

        //    if (!isLogin) {

        //        $("#divChat").hide();
        //        $("#divLogin").show();
        //    }
        //    else {

        //        $("#divChat").show();
        //        $("#divLogin").hide();
        //    }

        //}

        function registerEvents(chatHub) {

            //$("#btnStartChat").click(function () {

            //    var name = $("#txtNickName").val();
            //    if (name.length > 0) {
            //        chatHub.server.connect(name);
            //    }
            //    else {
            //        alert("Please enter name");
            //    }

            //});
            $(this).load(function () {
                alert("inicia");
            });


            $('#btnSendMsg').click(function () {

                var msg = $("#txtMessage").val();
                if (msg.length > 0) {

                    var userName = $('#hdUserName').val();
                    chatHub.server.sendMessageToAll(userName, msg);
                    $("#txtMessage").val('');
                }
            });


            $("#txtNickName").keypress(function (e) {
                if (e.which == 13) {
                    $("#btnStartChat").click();
                }
            });

            $("#txtMessage").keypress(function (e) {
                if (e.which == 13) {
                    $('#btnSendMsg').click();
                }
            });


        }

        function registerClientMethods(chatHub) {

            // Calls when user successfully logged in
            chatHub.client.onConnected = function (id, userName, allUsers, messages) {

                //setScreen(true);

                $('#hdId').val(id);
                $('#hdUserName').val(userName);
                $('#spanUser').html(userName);

                // Add All Users
                for (i = 0; i < allUsers.length; i++) {

                    AddUser(chatHub, allUsers[i].ConnectionId, allUsers[i].UserName);
                }

                // Add Existing Messages
                for (i = 0; i < messages.length; i++) {

                    AddMessage(messages[i].UserName, messages[i].Message);
                }


            }

            // On New User Connected
            chatHub.client.onNewUserConnected = function (id, name) {
                var reproductor = new Audio();                
                reproductor.src="/Audio/Chat/login.mp3"
                reproductor.play();
                AddUser(chatHub, id, name);
            }


            // On User Disconnected
            chatHub.client.onUserDisconnected = function (id, userName) {

                $('#' + id).remove();

                var ctrId = 'private_' + id;
                $('#' + ctrId).remove();

                var reproductor = new Audio();
                reproductor.src = "/Audio/Chat/logout.mp3"
                reproductor.play();
                var disc = $('<div class="disconnect">"' + userName + '" logged off.</div>');

                $(disc).hide();
                $('#divusers').prepend(disc);
                $(disc).fadeIn(200).delay(2000).fadeOut(200);

            }

            chatHub.client.messageReceived = function (userName, message) {
                var reproductor = new Audio();
                reproductor.src = "/Audio/Chat/newmsj.mp3";
                reproductor.play();
                AddMessage(userName, message);
            }


            chatHub.client.sendPrivateMessage = function (windowId, fromUserName, message) {

                var ctrId = 'private_' + windowId;
                var reproductor = new Audio();
                reproductor.src = "/Audio/Chat/newmsj.mp3";
                reproductor.play();

                if ($('#' + ctrId).length == 0) {

                    createPrivateChatWindow(chatHub, windowId, ctrId, fromUserName);

                }

                $('#' + ctrId).find('#divMessage').append('<div class="message"><span class="userName">' + fromUserName + '</span>: ' + message + '</div>');

                var $container = $('#' + ctrId).find('#Default2');
                $container.scrollTop($container.prop('scrollHeight') - $container.height());
                // set scrollbar
                //var height = $('#' + ctrId).find('#divMessage')[0].scrollHeight;
                //$('#' + ctrId).find('#divMessage').scrollTop(height);

            }

        }

        function AddUser(chatHub, id, name) {

            var userId = $('#hdId').val();

            var code = "";

            if (userId == id) {

                code = $('<div class="loginUser">' + name + "</div>");

            }
            else {

                code = $('<a id="' + id + '" class="user" >' + name + '<a>');

                $(code).dblclick(function () {

                    var id = $(this).attr('id');

                    if (userId != id)
                        OpenPrivateChatWindow(chatHub, id, name);

                });
            }

            $("#divusers").append(code);

        }

        function AddMessage(userName, message) {
            $('#divChatWindow').append('<div class="message"><span class="userName">' + userName + '</span>: ' + message + '</div>');
            var $container = $('#Default');
            $container.scrollTop($container.prop('scrollHeight') - $container.height());
            //var height = $('#divChatWindow')[0].scrollHeight;
            //$('#divChatWindow').scrollTop(height);
        }

        function OpenPrivateChatWindow(chatHub, id, userName) {

            var ctrId = 'private_' + id;

            if ($('#' + ctrId).length > 0) return;

            createPrivateChatWindow(chatHub, id, ctrId, userName);

        }

        function createPrivateChatWindow(chatHub, userId, ctrId, userName) {

            var div = '<div id="' + ctrId + '" class="ui-widget-content draggable" rel="0" style="z-index:1">' +
                       '<div class="header">' +
                          '<div  style="float:right;">' +
                              '<img id="imgDelete"  style="cursor:pointer;" src="/Images/delete.png"/>' +
                           '</div>' +

                           '<span class="selText" rel="0">' + userName + '</span>' +
                       '</div>' +
                       '<div id="Default2" class="Privatemessage">' +
                       '<div id="divMessage" class="messageArea">' +

                       '</div>' +
                       '</div>'+
                       '<div class="buttonBar">' +
                          '<input id="txtPrivateMessage" class="msgText" type="text"   />' +
                          '<input id="btnSendMessage" class="submitButton button" type="button" value="Enviar"   />' +
                       '</div>' +
                    '</div>';

            var $div = $(div);

            // DELETE BUTTON IMAGE
            $div.find('#imgDelete').click(function () {
                $('#' + ctrId).remove();
            });

            // Send Button event
            $div.find("#btnSendMessage").click(function () {

                $textBox = $div.find("#txtPrivateMessage");
                var msg = $textBox.val();
                if (msg.length > 0) {

                    chatHub.server.sendPrivateMessage(userId, msg);
                    $textBox.val('');
                }
            });

            // Text Box event
            $div.find("#txtPrivateMessage").keypress(function (e) {
                if (e.which == 13) {
                    $div.find("#btnSendMessage").click();
                }
            });

            AddDivToContainer($div);
            $('#Default2').perfectScrollbar();

        }

        function AddDivToContainer($div) {
            $('#divContainer').prepend($div);

            $div.draggable({

                handle: ".header",
                stop: function () {

                }
            });

            ////$div.resizable({
            ////    stop: function () {

            ////    }
            ////});

        }

    </script>



}
