@model INI.Models.DataBase.tblProyectosInvestigacion

@{
    Layout = "~/Views/Shared/_InvInvestiga.cshtml";
}

<div class="verticalSpan2"></div>
@Html.Partial("~/Views/Shared/_InformeProyectoEstudiante.cshtml", Model)