@model INI.Models.DataBase.tblParadigmaMetodologico

@{
    ViewBag.Title = "Detalle";
    Layout = "~/Views/Shared/_InvEditor.cshtml";
}
<br /><br /><br />
<h2>Detalle</h2>

<div>
    <h4>Paradigma Metodológico</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.parMet_nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.parMet_nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.tblParadigmaMetodologico_ID }) |
    @Html.ActionLink("Atrás", "Index")
</p>
