@model INI.Models.DataBase.tblTipoEstudioProy

@{
    ViewBag.Title = "Eliminar";
    Layout = "~/Views/Shared/_InvEditor.cshtml";
}

<br /><br /><br />
<h2>Eliminar</h2>


<div>
    <h4>Tipo de estudio del proyecto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tipEst_nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipEst_nombre)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Atrás", "Index")
        </div>
    }
</div>
