@model INI.Models.DataBase.tblParadigmaEpistemologico

@{
    ViewBag.Title = "Eliminar";
    Layout = "~/Views/Shared/_InvEditor.cshtml";
}
<br /><br /><br />
<h2>Eliminar</h2>


<div><br /><br /><br />
    <h4>Paradigma epistemológico</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Paradigma Epistomológico a eliminar:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.parEpi_nombre)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Regresar al listado", "Index")
        </div>
    }
</div>
