
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_InvSeguimiento.cshtml";
}
<h2>Reportes</h2>
@using (Html.BeginForm("Reporte", "repo", FormMethod.Post))

{
    @Html.AntiForgeryToken()


    <p><a href="/repo/pdf" class="btn btn-primary btn-lg">prueba</a></p>

}

