@{
    ViewBag.Title = "Home Page";
}

<div style="background: url('../Images/bg_apr.png') no-repeat; height:540px; width:1054px; position:relative; top:30px;">
    @*<iframe style="border: none; position: relative; top: 50px; left: 30px;" name="targetFrame" src="http://galeras.udenar.edu.co:90/chamilo-1.9.8.2/" height="460" width="775"></iframe>*@
    <iframe style="border: none; background:#ffffff; position: relative; top: 50px; left: 30px;" name="targetFrame" src="http://190.254.4.125:90/chamilo-1.9.8.2/login2.php?user=12973131&pass=5416d7cd6ef195a0f7622a9c56b55e84&email=mago_hamp@hotmail.com&fname=Jesus&lname=Insuasty&status=5" height="460" width="775"></iframe>
</div>
