body {
    width:100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: url('../../images/MAI/HojaVida/fondoHojaVida.png') no-repeat top scroll;
    background-size: cover;
}

.tableroHojaVida {
    padding: 40px;
    width: 100%;
    height: 100%;
    margin: 0;
    background-image: url('../../images/MAI/HojaVida/tableroHojaVida.png');
    /*background-size: cover;*/
    background-size: contain;
    background-repeat: no-repeat;
}
