<img id="subregion_img" src="/images/lorraine/mapa/subregion7/subregion.png" usemap="#subregion1" />
<map id="subregion1" name="subregion1">
    <area id="ssh1" shape="poly" alt="Providencia" title="Providencia" coords="264,275,264,264,269,257,276,262,276,268,282,270,277,278,287,296,291,319,299,335,293,338,295,352,302,364,298,372,291,363,284,369,279,366,281,360,269,357,263,338,258,334,258,324,262,321,270,301,267,285,268,281" href="#" onmouseover="entersubregion(52565)" />
    <area id="ssh2" shape="poly" alt="Samaniego" title="Samaniego" coords="4,118,12,94,8,86,12,78,12,58,20,52,32,52,32,58,48,54,62,40,52,36,54,18,52,10,60,2,70,10,86,2,100,20,102,28,92,34,118,60,128,54,128,42,154,52,156,72,164,82,188,74,200,60,208,66,218,58,240,60,242,70,284,98,288,118,298,126,308,126,320,130,316,158,308,176,304,200,304,214,310,218,322,216,316,234,308,238,320,266,318,312,306,330,306,344,308,352,304,368,292,348,296,332,288,320,288,300,276,280,280,270,268,254,260,264,252,260,196,234,172,224,168,212,136,200,122,180,104,190,104,210,104,224,88,214,74,212,74,192,48,184,22,184,14,150,24,142" href="#" onmouseover="entersubregion(52678)" />
    <area id="ssh3" shape="poly" alt="Santacruz" title="Santacruz" coords="46,185,60,186,60,195,69,195,75,201,78,210,102,222,105,219,99,213,101,196,122,180,138,202,164,210,165,218,210,242,215,239,247,253,250,262,261,265,264,274,258,276,258,285,240,295,230,314,230,321,220,335,227,341,221,350,226,354,223,392,214,412,206,412,197,423,194,438,182,441,168,440,165,431,171,417,169,411,170,396,161,401,154,396,148,397,142,387,150,382,145,378,148,371,141,366,140,357,139,350,118,340,110,328,89,303,90,296,81,294,75,282,80,276,81,269,70,265,66,267,42,243,42,236,51,233,52,225,45,223,44,215,49,215,43,206,37,202,38,196,49,196" href="#" onmouseover="entersubregion(52699)" />
</map>
<a href="~/Home/comovamos"><img src="../../../images/como%20vamos/btn_volver_apr.png" alt="" /></a>
<script>
    $(function () {
        jQuery("#ssh1").mouseenter(function () {
            jQuery("#municipality_title").text("Municipio: Providencia");
        });
        jQuery("#ssh2").mouseenter(function () {
            jQuery("#municipality_title").text("Municipio: Samaniego");
        });
        jQuery("#ssh3").mouseenter(function () {
            jQuery("#municipality_title").text("Municipio: Santacruz");
        });
    });
</script>

