@{
    ViewBag.Title = "Confirm Email Address Sent";
}

<h2>Confirmación de correo electronico</h2>

<div class="row">
    <div class="col-md-8">
        Por favor revisa tu E-mail, un correo de confirmación ha sido enviado a @ViewBag.Email
    </div>
</div>