@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body style="background-color: #FA9403">        
    <center>
        <img src="~/images/losentimos.png" />
    </center>
</body>
</html>